<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator/>
    <!-- 控制台输出日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/adopen/task/system.log.%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>2</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger)
                [%file:%line] - %cyan(%msg%n)
            </Pattern>
        </layout>
    </appender>

    <appender name="TASK_CLICK"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/adopen/task/task_click.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>2</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger [%file:%line] - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.leon.adopen.task.click" level="INFO"
            additivity="false">
        <appender-ref ref="TASK_CLICK"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </root>

</configuration>